$width-routerScheme: 200px;
$width-img-plane: 40px;

.ticket-card {
  border: 2px solid black;
  width: fit-content;

  display: flex;
  flex-flow: row nowrap;

  .flight-summary--container {
    display: flex;
    flex-flow: row wrap;

    .flight-scheme {
      display: flex;
      flex-flow: column;

      &--time {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        img {
          height: $width-img-plane;
          width: $width-img-plane;
        }
      }

      &--route {
        border-top: 4px solid black;
        width: 100%;
        //width: $width-routerScheme;
      }

      &--airports {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        * {
          margin: 0 1px;
        }
      }
    }
  }


}